.intro {
  z-index: 0;
  position: relative;

  padding-top: 65px;
  padding-top: calc(1.4375*100%);

  background-image: url("../images/bg-mobile@1x.jpg");

  @include for-retina {
    background-image: url("../images/bg-mobile@2x.jpg");
  }

  box-sizing: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgb(29, 38, 49);
}

.intro__wrapper {
  width: 100%;
  max-width: 960px;

  margin: 0 auto;
}

.intro__container {
  position: relative;
  z-index: 1;
  max-width: 960px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border: 1px solid transparent;
  background-color: rgb(29, 38, 49);
}


.intro__title {
  font-size: 40px;
  line-height: 50px;
  font-family: "Open Sans Light", Arial, sans-serif;
  color: white;

  display: none;
}

.intro__download-link {
  display: block;

  @extend .reset-link;
  padding: 15px 0;
  margin: 0 auto;
  margin-top: 30px;

  width: 280px;
  box-sizing: border-box;

  text-align: center;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 18px;
  line-height: 18px;

  &:hover {
    color: rgb(210, 40, 86);
    background-color: #fff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #fff;
  }
}

.intro__download-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-start;

  margin-top: 40px;
  // margin-left: -30px;
}

.intro__download-item {
  margin-left: 30px;
}

.intro__download-item:nth-of-type(1) {
  margin-left: auto;
}

.intro__download-item:nth-last-of-type(1) {
  margin-right: auto;
}

.intro__download-link-icon {
  display: block;

  width: 55px;
  height: 60px;

  background-position: center;
  background-repeat: no-repeat;
}

.download-link-icon--apple {
  background-image: url("../images/logo-apple.svg");
}

.download-link-icon--android {
  background-image: url("../images/logo-android.svg");
}

.download-link-icon--windows {
  background-image: url("../images/logo-microsoft.svg");
}


.intro__description-text {
  display: block;

  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;

  color: rgba(255, 255, 255, 0.8);
  width: 280px;
}


@media (min-width: $tablet-width){
  .intro {
    height: 730px;
    padding-top: 110px;

    background-image: url("../images/bg-tablet@1x.jpg");
    background-position: top center;
    background-size: cover;

    @include for-retina {
      background-image: url("../images/bg-tablet@2x.jpg");
    }
  }

    .intro__wrapper {
      margin-top: 200px;
    }

    .intro__container {
      margin-left: 20px;
      width: 300px;


      background: none;
    }

    .intro__title {
      width: 200px;
      margin: 0 auto;
      text-align: center;

      display: block;
    }
  }

@media (min-width: $desktop-width) {
  .intro {
    height: 850px;

      background-image: url("../images/bg-desktop@1x.jpg");
      background-position: top center;
      background-size: cover;

    @include for-retina {
      background-image: url("../images/bg-desktop@2x.jpg");
    }
  }

  .intro__wrapper {
    margin-top: 240px;
  }

  .intro__title {
    width: 300px;
  }


}
