.page-footer {

  &--no-mobile {
    display: none;
  }

  display: block;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    margin: 0 auto;
    padding: 40px 20px;

    width: 100%;
    min-height: 280px;
    max-width: 960px;
    box-sizing: border-box;
  }

  &__logo {
    width: 150px;
    height: 40px;
    display: block;

    margin-top: -20px;

    background-image:
      url("../images/logotype-grey-tablet.svg");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../images/logotype-pink-tablet.svg");
    }

    &:active {
      background-image: url("../images/logotype-grey-tablet.svg");
      opacity: 0.3;
    }


  }
}


@media (min-width: $tablet-width) {
  .page-footer {

    &__wrapper {
      min-height: 130px;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      padding: 0px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {

    &__wrapper {
      padding: 70px 0px;
      min-height: 200px;
    }

    &__logo {
      background-image:
        url("../images/logotype-grey-desktop.svg");

      &:hover {
        background-image: url("../images/logotype-pink-desktop.svg");
      }

      &:active {
        background-image: url("../images/logotype-grey-desktop.svg");
      }


    }
  }
}
