.price {
  padding-top: 90px;
  padding-bottom: 100px;

  background-image: url("../images/bg-mobile-grey-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.price__table {
  position: relative;
  left: -81%;
  // 0 -81 -162

  border-collapse: collapse;

  width: 262.5%;

  text-transform: uppercase;
  text-align: center;
}


.price__row {
  height: 60px;

  box-sizing: border-box;
  background-color: #fff;
}

.price__row--large {
  height: 100px;
  color: white;
  background: none;
}

.price__title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;

  font-family: "Open Sans Bold", Arial, sans-serif;
  font-weight: 100;
}

.price__value {
  margin: 0;
  padding: 0;
  margin-top: 5px;

  font-size: 24px;
  line-height: 30px;
  font-family: "Open Sans Light", Arial, sans-serif;
}

.price__data {
  position: relative;
  margin: 0;
  padding: 0;

  height: 60px;

  border: 2px solid rgb(229, 229, 229);
  box-sizing: border-box;

  // background-color: #fff;
}

.price__data--type {
  background-color: rgb(40, 54, 69);
}

.price__data--hit::after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  width: 74px;
  height: 74px;

  background-repeat: no-repeat;
  background-image: url("../images/mobile-hit.png");
}

.price__available {
  position: absolute;
  right: 20px;
  top: 20px;

  display: block;
  font-size: 0;

  width: 31px;
  height: 21px;

  background-image: url("../images/icon-available.svg");
  background-repeat: no-repeat;
}
.price__unavailable {
  position: absolute;
  right: 20px;
  top: 20px;

  display: block;
  font-size: 0;

  width: 27px;
  height: 27px;

  background-image: url("../images/icon-unavailable.svg");
  background-repeat: no-repeat;
}

.price__data--first {
  width: 1px;
  position: inherit;
  box-sizing: border-box;

  padding-bottom: 30px;
}

.price__setting {
  z-index: 1;
  position: absolute;
  left: 37%;
    // 3 37 68

  // top: 50%;

  background-color: #fff;
  color: black;

  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif;
}

.price__data--empty {
  background: none;
  border: none;
}

@media (max-width: $tablet-width - 1) {

  .price--left {
    .price__table {
      left: 0%;
    }
    .price__setting {
      left: 3%;
    }
  }
  .price--center {
    .price__table {
      left: -81%;
    }
    .price__setting {
      left: 37%;
    }
  }
  .price--right {
    .price__table {
      left: -162%;
    }
    .price__setting {
      left: 68%;
    }
  }
}

.slider__radio {
  bottom: 40px;
}

@media (min-width: $tablet-width) {
  .price .slider__radio {
    display: none;
  }

  .price {
    background-image: url("../images/bg-tablet-grey-2.png");
  }
  .price__table {
    left: 0;
    width: 94%;
    max-width: 940px;

    margin: 0 auto;
  }

  .price__data--first {
    width: auto;
    position: relative;
    padding: 0;

    text-align: left;
    text-transform: none;
  }

  .price__setting {
    position: relative;
    left: 0;
    margin-left: 24px;
  }

  .price__available,
  .price__unavailable {
    left: 50%;
    transform: translateX(-50%);
  }

  .price__title {
    font-size: 16px;
  }

  .price__value {
    font-size: 18px;
  }

  .price__data--hit::after {
    background-image: url("../images/tablet-hit.png");
  }
}

@media (min-width: $desktop-width) {
  .price {
    background-image: url("../images/bg-desktop-grey-2.png");

    &__setting {
      font-size: 18px;
    }
  }
}
