.submit-button {
  width: 280px;
  height: 63px;
  text-align: center;

  border: none;

  display: flex;
  justify-content: center;

  text-transform: uppercase;
  font-family: $OpenSansBold;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
  color: white;
  background-color: #2aab6d;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &[disabled] {
    background-color: $middlegrey;
    cursor: no-drop;
  }
}
