body,
html {
  overflow-x: hidden
}
.visually-hidden {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0!important;
  border: 0!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none
}
.intro__download-link,
.reset-link,
.site-navigation__link {
  text-decoration: none
}
@-webkit-keyframes slideOut {
  0% {
    transform: translate(0,0);
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    transform: translatex(-100vw);
    opacity: 0
  }
}
@keyframes slideOut {
  0% {
    transform: translate(0,0);
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    transform: translatex(-100vw);
    opacity: 0
  }
}
@-webkit-keyframes fadeIn {
  0% {
    transform: scale(1.2);
    opacity: 0
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}
@keyframes fadeIn {
  0% {
    transform: scale(1.2);
    opacity: 0
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"),url(../fonts/OpenSans-Bold.woff2) format("woff2")
}
@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.woff) format("woff"),url(../fonts/OpenSans-Light.woff2) format("woff2")
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),url(../fonts/OpenSans-Regular.woff2) format("woff2")
}
.page-body {
  margin: 0;
  padding: 0;
  min-width: 320px
}
.page-header {
  position: relative;
  z-index: 1;
  background-color: rgba(0,0,0,.3)
}
.site-navigation {
  position: relative
}
.site-navigation__header {
  padding: 20px;
  box-sizing: border-box
}
.site-navigation__logo {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 23px
}
.site-navigation__logo-link {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/logotype-white-mobile.svg)
}
.site-navigation__logo-link:hover {
  background-image: url(../images/logotype-pink-mobile.svg)
}
.site-navigation__logo-link:active {
  opacity: .7
}
.site-navigation__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  padding: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.site-navigation__button::after,
.site-navigation__button::before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  background-color: #fff
}
.site-navigation__button:hover::after,
.site-navigation__button:hover::before {
  background-color: #d22856
}
.site-navigation__button:active::after,
.site-navigation__button:active::before {
  background-color: rgba(210,40,86,.3)
}
.button-open {
  width: 50px;
  height: 24px
}
.button-open::after {
  width: 50px;
  height: 4px;
  box-shadow: 0 10px 0 0 #fff,0 20px 0 0 #fff
}
.button-open:hover::after {
  box-shadow: 0 10px 0 0 #d22856,0 20px 0 0 #d22856
}
.button-open:active::after {
  box-shadow: 0 10px 0 0 rgba(210,40,86,.3),0 20px 0 0 rgba(210,40,86,.3)
}
.button-close {
  display: none;
  width: 24px;
  height: 24px
}
.button-close::after,
.button-close::before {
  top: 11px;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: #fff
}
.button-close::after {
  transform: rotate(45deg)
}
.button-close::before {
  transform: rotate(135deg)
}
.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none
}
.site-navigation__item {
  position: relative;
  margin-top: 1px;
  width: 100%;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.7),0 -1px 0 0 rgba(0,0,0,.7)
}
.site-navigation__link {
  display: block;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #283645;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-family: "Open Sans Bold",Arial,sans-serif;
  font-weight: 700
}
@media (max-width:959px) {
  .site-navigation--active-menu .site-navigation__list {
    display: block
  }
  .site-navigation--active-menu .button-close {
    display: block
  }
  .site-navigation--active-menu .button-open {
    display: none
  }
  .site-navigation--active-menu .site-navigation__header {
    position: relative;
    background-color: #283645
  }
  .site-navigation--no-js .site-navigation__list {
    display: block
  }
  .site-navigation--no-js .button-open {
    display: none
  }
  .site-navigation--no-js .site-navigation__header {
    background-color: #283645
  }
}
@media (min-width:660px) {
  .site-navigation__header {
    height: 110px
  }
  .site-navigation__logo {
    width: 150px;
    height: 40px;
    margin-top: 5px
  }
  .site-navigation__logo-link {
    background-image: url(../images/logotype-white-tablet.svg)
  }
  .site-navigation__logo-link:hover {
    background-image: url(../images/logotype-pink-tablet.svg)
  }
}
@media (min-width:960px) {
  .site-navigation__wrapper {
    width: 960px;
    display: flex;
    align-items: center;
    margin: 0 auto
  }
  .site-navigation__logo {
    margin-top: 10px
  }
  .site-navigation__logo-link {
    background-image: url(../images/logotype-white-desktop.svg)
  }
  .site-navigation__logo-link:hover {
    background-image: url(../images/logotype-pink-desktop.svg)
  }
  .site-navigation__button {
    display: none
  }
  .site-navigation {
    align-items: center;
    display: flex
  }
  .site-navigation__list {
    margin-left: auto;
    margin-right: 10px;
    display: flex
  }
  .site-navigation__item {
    width: auto;
    box-shadow: none;
    margin-left: 80px
  }
  .site-navigation__link {
    padding: 10px 0;
    font-family: "Open Sans Regular",Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    background: 0 0;
    color: #fff
  }
  .site-navigation__link:hover {
    color: #d22856
  }
  .site-navigation__link:active {
    color: rgba(255,255,255,.3)
  }
  .item--current::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff
  }
}
.intro {
  z-index: 0;
  position: relative;
  margin-top: -65px;
  padding-top: calc(1.4375*100%);
  background-image: url(../images/bg-mobile@1x.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #1d2631
}
@media (-webkit-min-device-pixel-ratio:1.5),
(min-resolution:144dpi),
(min-resolution:1.5dppx) {
  .intro {
    background-image: url(../images/bg-mobile@2x.jpg)
  }
}
.intro__wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto
}
.intro__container {
  position: relative;
  z-index: 1;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid transparent;
  background-color: #1d2631
}
.intro__title {
  font-size: 40px;
  line-height: 50px;
  font-family: "Open Sans Light",Arial,sans-serif;
  color: #fff;
  display: none
}
.intro__download-link {
  display: block;
  padding: 15px 0;
  margin: 0 auto;
  margin-top: 30px;
  width: 280px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans Bold",Arial,sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  line-height: 18px
}
.intro__download-link:hover {
  color: #d22856;
  background-color: #fff
}
.intro__download-link:active {
  color: rgba(210,40,86,.3);
  background-color: #fff
}
.intro__download-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 40px
}
.intro__download-item {
  margin-left: 30px
}
.intro__download-item:nth-of-type(1) {
  margin-left: auto
}
.intro__download-item:nth-last-of-type(1) {
  margin-right: auto
}
.intro__download-link-icon {
  display: block;
  width: 55px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat
}
.download-link-icon--apple {
  background-image: url(../images/logo-apple.svg)
}
.download-link-icon--android {
  background-image: url(../images/logo-android.svg)
}
.download-link-icon--windows {
  background-image: url(../images/logo-microsoft.svg)
}
.intro__description-text {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Open Sans Light",Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: rgba(255,255,255,.8);
  width: 280px
}
@media (min-width:660px) {
  .intro {
    height: 730px;
    padding: 1px;
    margin-top: -110px;
    background-image: url(../images/bg-tablet@1x.jpg);
    background-position: top center;
    background-size: cover
  }
}
@media (min-width:660px) and (-webkit-min-device-pixel-ratio:1.5),
(min-width:660px) and (min-resolution:144dpi),
(min-width:660px) and (min-resolution:1.5dppx) {
  .intro {
    background-image: url(../images/bg-tablet@2x.jpg)
  }
}
@media (min-width:660px) {
  .intro__wrapper {
    margin-top: 200px
  }
  .intro__container {
    margin-left: 20px;
    width: 300px;
    background: 0 0
  }
  .intro__title {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: block
  }
}
@media (min-width:960px) {
  .intro {
    height: 850px;
    background-image: url(../images/bg-desktop@1x.jpg);
    background-position: top center;
    background-size: cover
  }
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:1.5),
(min-width:960px) and (min-resolution:144dpi),
(min-width:960px) and (min-resolution:1.5dppx) {
  .intro {
    background-image: url(../images/bg-desktop@2x.jpg)
  }
}
@media (min-width:960px) {
  .intro__wrapper {
    margin-top: 240px
  }
  .intro__title {
    width: 300px
  }
}
.rounded-link {
  position: relative;
  border: 3px solid #fff;
  border-radius: 100px
}
.information {
  width: 100%
}
.information__slogan {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
  width: 87.5%;
  font-family: "Open Sans Light",Arial,sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center
}
.information__wrapper {
  padding-top: 90px;
  background-image: url(../images/bg-mobile-grey.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top
}
.information__feature-item {
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  text-align: center
}
.information__feature-title {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: "Open Sans Bold",Arial,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px
}
.information__feature-detailed {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  font-family: "Open Sans Regular",Arial,sans-serif;
  font-size: 14px;
  line-height: 24px
}
.information__photo-container {
  z-index: 0;
  position: relative;
  margin: 0;
  padding: 0;
  top: 40px;
  margin-top: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 160px;
  height: 327px
}
.information__photo-container:not(:first-child) {
  display: none
}
.feature-item--large {
  z-index: 1;
  position: relative;
  margin-top: -35px;
  padding-left: 46%;
  margin-right: auto;
  padding-right: 3%;
  padding-top: 100px;
  padding-bottom: 120px;
  display: none;
  background-color: #fff
}
.feature-item--large::after {
  content: '';
  position: absolute;
  left: calc(47% - (60px + 238px));
  top: 60px;
  width: 238px;
  height: 276px;
  background-image: url(../images/timer.svg);
  background-size: 100%;
  background-repeat: no-repeat
}
.feature-title--large {
  font-size: 30px;
  line-height: 36px
}
.information__link {
  display: block;
  margin-top: 10px;
  color: #d22856;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans Regular",Arial,sans-serif
}
@media (min-width:660px) {
  .information__slogan {
    width: 90%;
    font-size: 40px;
    line-height: 46px
  }
  .information__wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url(../images/bg-tablet-grey.png)
  }
  .information__feature-item {
    width: 100%;
    text-align: left
  }
  .slogan--bottom {
    margin-top: 0;
    padding: 0
  }
  .information__photo-container {
    width: 270px;
    height: 550px;
    order: 1
  }
  .information__photo-wrapper {
    margin-left: auto;
    margin-right: 30px
  }
  .information__photo-image {
    width: 100%;
    height: 100%
  }
  .feature-item--large {
    order: 3;
    display: block
  }
  .information__features-container {
    order: 2;
    margin-top: 80px;
    margin-right: auto;
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
  }
}
@media (min-width:960px) {
  .information__slogan {
    font-size: 50px;
    line-height: 56px
  }
  .slogan--top {
    margin-top: 60px
  }
  .information__wrapper {
    margin-top: 40px;
    flex-direction: column;
    background-image: url(../images/bg-desktop-grey.png)
  }
  .information__photo-wrapper {
    order: 1;
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
  }
  .information__photo-container {
    height: 380px
  }
  .information__photo-container:nth-child(n) {
    position: relative;
    display: block;
    width: 190px;
    height: 380px;
    transition: top .3s ease
  }
  .information__photo-container::after {
    content: '';
    z-index: 2;
    position: absolute;
    bottom: -100px;
    left: -55px;
    width: 300px;
    height: 200px;
    background-image: url(../images/iphone-shadow.png);
    transition: bottom .3s ease
  }
  .information__photo-container:hover {
    transition: top .3s ease;
    top: -8px
  }
  .information__photo-container:hover::after {
    transition: bottom .3s ease;
    bottom: -150px
  }
  .information__features-container {
    order: 2;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    margin: 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: 960px;
    justify-content: space-between
  }
  .information__feature-title {
    font-size: 30px;
    line-height: 30px
  }
  .information__feature-detailed {
    font-size: 18px;
    line-height: 30px
  }
  .information__feature-item {
    margin: 0;
    padding: 0;
    width: 280px;
    text-align: center
  }
  .feature-item--large {
    width: 960px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 135px;
    background: 0 0;
    padding-left: 380px;
    box-sizing: border-box;
    text-align: left
  }
  .feature-item--large br {
    display: none
  }
  .feature-item--large::after {
    top: -100px;
    left: 20px;
    width: 298px;
    height: 345px
  }
}
.reviews {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: -20px;
  background-color: #fff
}
.reviews__review {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 820px;
  display: none
}
.reviews__author {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold",Arial,sans-serif;
  font-weight: 700
}
.reviews__text {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: "Open Sans Regular",Arial,sans-serif;
  font-size: 14px;
  line-height: 30px
}
.reviews__author-description {
  display: none;
  margin-top: 10px;
  font-family: "Open Sans Regular",Arial,sans-serif;
  font-size: 14px;
  line-height: 30px
}
.reviews__button {
  position: absolute;
  top: 250px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top-color: #bec2c7;
  border-left-color: #bec2c7;
  background: 0 0;
  display: none;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none
}
.reviews__button-previous {
  left: 10px;
  transform: rotate(-45deg)
}
.reviews__button-next {
  right: 10px;
  transform: rotate(135deg)
}
.reviews__button:focus,
.reviews__button:hover {
  border-top-color: #454545;
  border-left-color: #454545
}
.reviews__button:active {
  border-top-color: rgba(69,69,69,.7);
  border-left-color: rgba(69,69,69,.7)
}
.slider__element--active {
  display: flex;
  opacity: 1
}
@media (min-width:660px) {
  .reviews__author {
    order: 1;
    font-size: 20px;
    margin-top: 40px
  }
  .reviews__text {
    font-size: 18px
  }
  .reviews__author-description {
    display: block;
    order: 3
  }
}
@media (min-width:960px) {
  .reviews {
    padding-top: 190px;
    margin-top: 0
  }
  .reviews::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    width: 79px;
    height: 64px;
    background-image: url(../images/icon-quotes.svg)
  }
  .reviews__review {
    width: 820px
  }
  .reviews__author {
    font-size: 24px
  }
  .reviews__author-description {
    font-size: 18px
  }
  .reviews__text {
    margin: 0
  }
  .reviews__button {
    display: block
  }
}
.slider {
  position: relative;
  padding-bottom: 70px
}
.slider__radio {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  display: flex
}
.slider__label {
  width: 20px;
  height: 20px;
  position: relative
}
.slider__radio-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%
}
.slider__input-radio:checked + .slider__radio-indicator {
  background: 0 0;
  border: 3px solid #283645
}
@media (min-width:660px) {
  .slider {
    padding-bottom: 60px
  }
}
@media (min-width:960px) {
  .slider__radio {
    display: none
  }
}
.price {
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url(../images/bg-mobile-grey-2.png);
  background-repeat: no-repeat;
  background-size: cover
}
.price__table {
  position: relative;
  left: -81%;
  border-collapse: collapse;
  width: 262.5%;
  text-transform: uppercase;
  text-align: center
}
.price__row {
  height: 60px;
  box-sizing: border-box;
  background-color: #fff
}
.price__row--large {
  height: 100px;
  color: #fff;
  background: 0 0
}
.price__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold",Arial,sans-serif;
  font-weight: 700
}
.price__value {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Open Sans Light",Arial,sans-serif
}
.price__data {
  position: relative;
  margin: 0;
  padding: 0;
  height: 60px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box
}
.price__data--type {
  background-color: #283645
}
.price__data--hit::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  background-repeat: no-repeat;
  background-image: url(../images/mobile-hit.png)
}
.price__available {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  font-size: 0;
  width: 31px;
  height: 21px;
  background-image: url(../images/icon-available.svg);
  background-repeat: no-repeat
}
.price__unavailable {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  font-size: 0;
  width: 27px;
  height: 27px;
  background-image: url(../images/icon-unavailable.svg);
  background-repeat: no-repeat
}
.price__data--first {
  width: 1px;
  position: inherit;
  box-sizing: border-box;
  padding-bottom: 30px
}
.price__setting {
  z-index: 1;
  position: absolute;
  left: 37%;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Regular",Arial,sans-serif
}
.price__data--empty {
  background: 0 0;
  border: none
}
@media (max-width:659px) {
  .price--left .price__table {
    left: 0
  }
  .price--left .price__setting {
    left: 3%
  }
  .price--center .price__table {
    left: -81%
  }
  .price--center .price__setting {
    left: 37%
  }
  .price--right .price__table {
    left: -162%
  }
  .price--right .price__setting {
    left: 68%
  }
}
.slider__radio {
  bottom: 40px
}
@media (min-width:660px) {
  .slider__radio {
    display: none
  }
  .price {
    background-image: url(../images/bg-tablet-grey-2.png)
  }
  .price__table {
    left: 0;
    width: 94%;
    max-width: 940px;
    margin: 0 auto
  }
  .price__data--first {
    width: auto;
    position: relative;
    padding: 0;
    text-align: left;
    text-transform: none
  }
  .price__setting {
    position: relative;
    left: 0;
    margin-left: 24px
  }
  .price__available,
  .price__unavailable {
    left: 50%;
    transform: translateX(-50%)
  }
  .price__title {
    font-size: 16px
  }
  .price__value {
    font-size: 18px
  }
  .price__data--hit::after {
    background-image: url(../images/tablet-hit.png)
  }
}
@media (min-width:960px) {
  .price {
    background-image: url(../images/bg-desktop-grey-2.png)
  }
  .price__setting {
    font-size: 18px
  }
}
.contacts {
  padding-bottom: 40px
}
.contacts__slogan {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Open Sans Light",Arial,sans-serif;
  color: #283645;
  text-align: center
}
@media (min-width:660px) {
  .contacts__slogan {
    margin: 20px
  }
}
.contacts__list {
  margin: 0 auto;
  padding: 1px;
  margin-top: 35px;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none
}
.contacts__item {
  width: 300px;
  margin-top: 20px;
  text-align: center
}
.contacts__type {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold",Arial,sans-serif;
  font-weight: 700
}
.contacts__data {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  font-size: 24px;
  line-height: 30px;
  font-family: "Open Sans Light",Arial,sans-serif;
  color: #d22856
}
.contacts__email {
  text-decoration: none
}
.contacts__email:hover {
  text-decoration: underline;
  color: #000
}
.contacts__email:active {
  text-decoration: none;
  color: rgba(0,0,0,.3)
}
@media (min-width:660px) {
  .contacts {
    padding-bottom: 30px
  }
  .contacts__slogan {
    font-size: 40px;
    line-height: 48px
  }
}
@media (min-width:960px) {
  .contacts {
    padding-bottom: 40px
  }
  .contacts__slogan {
    font-size: 50px;
    line-height: 60px
  }
  .contacts__data {
    margin-top: 10px
  }
}
.map {
  position: relative;
  margin: 0 auto;
  height: 62.5vw;
  max-height: 500px;
  width: 100%;
  max-width: 960px
}
.map::after {
  z-index: 1;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 11vw;
  background-image: url(../images/triangle-map-bg.png);
  background-size: cover;
  background-position: center
}
@media (min-width:660px) {
  .map::after {
    height: 70px
  }
}
@media (min-width:960px) {
  .map::after {
    height: 100px
  }
}
.page-footer {
  display: none
}
@media (min-width:660px) {
  .page-footer {
    display: block;
    width: 100%
  }
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    min-height: 130px;
    max-width: 960px;
    box-sizing: border-box
  }
  .page-footer__logo {
    width: 150px;
    height: 40px;
    display: block;
    margin-top: -20px;
    background-image: url(../images/logotype-grey-tablet.svg);
    background-repeat: no-repeat
  }
  .page-footer__logo:hover {
    background-image: url(../images/logotype-pink-tablet.svg)
  }
  .page-footer__logo:active {
    background-image: url(../images/logotype-grey-tablet.svg);
    opacity: .3
  }
}
@media (min-width:960px) {
  .page-footer__wrapper {
    padding: 70px 20px;
    min-height: 200px
  }
  .page-footer__logo {
    background-image: url(../images/logotype-grey-desktop.svg)
  }
  .page-footer__logo:hover {
    background-image: url(../images/logotype-pink-desktop.svg)
  }
  .page-footer__logo:active {
    background-image: url(../images/logotype-grey-desktop.svg)
  }
}
.social-contacts {
  margin: 0;
  padding: 0;
  margin-left: -12px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap
}
.social-contacts__item {
  margin-left: 12px;
  width: 50px;
  height: 50px
}
.social-contacts__link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #e9e9e9;
  background-repeat: no-repeat;
  background-position: center
}
.social-contacts__link--facebook {
  background-image: url(../images/icon-facebook.svg)
}
.social-contacts__link--youtube {
  background-image: url(../images/icon-youtube.svg)
}
.social-contacts__link--twitter {
  background-image: url(../images/icon-twitter.svg)
}
.social-contacts__link:hover {
  border-color: #000
}
.social-contacts__link:active {
  border-color: #e9e9e9;
  opacity: .3
}
.copyright {
  display: flex;
  width: 150px;
  align-items: center
}
.copyright__text {
  font-family: "Open Sans Regular",Arial,sans-serif;
  font-size: 18px;
  line-height: 18px
}
.copyright__link {
  display: block;
  width: 34px;
  height: 38px;
  margin-top: 5px;
  margin-left: auto;
  background-image: url(../images/htmlacademy-red.svg);
  background-repeat: no-repeat
}
.copyright__link:hover {
  background-image: url(../images/htmlacademy.svg)
}
.copyright__link:active {
  background-image: url(../images/htmlacademy.svg);
  opacity: .3
}