@import "scaffolding/scaffolding.scss";

.slider {
  padding-bottom: 70px;
}

.slider__radio {
  position: absolute;

  left: 50%;
  transform: translate(-50%);
  bottom: 20px;

  display: flex;
}

.slider__label {
  width: 20px;
  height: 20px;
  position: relative;
}

.slider__radio-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 6px;
  height: 6px;

  background-color: rgb(190, 194, 199);
  border-radius: 50%;
}

.slider__input-radio:checked + .slider__radio-indicator {
  background: none;
  border: 3px solid rgb(40, 54, 69);
}



@media (min-width: $tablet-width) {
  .slider {
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .slider__radio {
    display: none;
  }
}
