@font-face {
  font-display: swap;
  font-family: "Open Sans Bold";
  src:
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  // font-display: swap;
  font-family: "Open Sans Light";
  src:
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
  // font-display: swap;
  font-family: "Open Sans Regular";
  src:
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}



$OpenSansRegular: "Open Sans Regular", Arial, sans-serif;
$OpenSansBold: "Open Sans Bold", Arial, sans-serif;
$OpenSansLight: "Open Sans Light", Arial, sans-serif;
