$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$minimal-resolution-dpi: 144dpi;
$minimal-resolution-dppx: 1.5dppx;

$pink: #d22856;
$lightgrey: rgb(242, 242, 242);
$grey: rgb(211, 211, 211);
$middlegrey: rgb(229, 229, 229);
$textcolor: #283645;

html, body {
	overflow-x: hidden;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


.reset-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.reset-link {
	text-decoration: none;
}
